/*CSS do Cabeçalho*/
header {
    background: #252424;
    height: 9em;
}

header img {
    position: relative;
    width: 9em;
}

.imagemCabecalho {
    text-align: center;
}

/*CSS da Landing Page*/

.landing {
    background: radial-gradient(circle at center, #e6973b 0, #cb7a31 40%, #aa5e24, #965121 100%);
    background-repeat: no-repeat;
    background-position: bottom right;

    height: 40em;
}

.caixa {
    width: 940px;
    height:40em ;
    text-align: center;
    margin: 0 auto;
}

#titulo {

    margin: 0.5em auto auto 0;
    padding: 0.2em 0 0.2em 0;

    width: 940px;


    border: solid 2px white;
    border-radius: 1em;

    font-weight: bold;
    text-align: center;
    position: absolute;
}

.alinhamento-imagem {  
    text-align: left; /*A imagem precisa estar em uma div para poder ser centralizada*/
}
    
#imagem-landing {
    display: inline-block;
    position: relative;
    width: 70%;

    top: 16em;
}

#laranja-landing {
    position: relative;
    float: right;
    width: 25%;

    top: 7em;
    right: 1em;
}

.texto-principal {
    position: absolute;
    float: right;
    margin: 6em 0 0 37em;

    width: 17em;

}

.texto-principal p {
    text-align: left ;
    font-size: 1.2em;
    font-weight: bold;
    width: 18em;
    margin-bottom: 1.5em;
}

h1 {
    text-align: left;
    display: block;

    color: white;
    font-size: 3em;
    margin-bottom: 0.8em;
    font-weight: bold;
}

#botao-conhecer {

    background: #445c3b;
    border: solid 2px none;
    border-radius: 1em;

    padding: 0.2em 0;

    font-weight: bold;
    font-size: 1.4em;

    color: white;
    position: absolute;
    text-align: center;
    right: 1em;

    display: block;
    width: 9em;

    cursor: pointer;
    transition: all 1s;

    box-shadow: 0px 4px 6px 0.5px #161616;
}

#botao-conhecer:hover {
    transform: scale(2) rotate(360deg);



}

/*CSS Produtos*/

.produtos {
    background: #e6dcd4;
    height: 40em;
}

.seletor {
    background: #445c3b;
    width: 50em;
    height: 40em;
}

.ajuste-tamanho-seletor {
    width: 20em;
    height: 8em;
    margin: 0 auto;
}

h2 {

    position: relative;
    top: 1em;


    font-weight: bold;
    text-align: center;
    font-size: 1.5em;

}

.texto-branco {
    color: white;
}

#pesquisar {
    background: white;
    border: solid 2px none;
    border-radius: 1em;
    display: block;

    padding: 0.2em 0;

    font-weight: bold;
    font-size: 1.4em;

    color: black;
    position: relative;
    text-align: center;

    margin: 2em auto;

    width: 9em;

    cursor: pointer;
    transition: all 1s;

    box-shadow: 0px 4px 6px 0.5px #161616;
}

#pesquisar:hover {
    transform: scale(1.3);
}

.lista-produtos {
    background: #e6dcd4;
    width: 90%;
    height: 29em;

    border: solid 1px none;
    border-radius: 3em;

    margin: auto auto;

    box-shadow: 0px 4px 6px 0.5px #161616;
}

.produto-lista {
    display: inline-block;
    margin: 10px 10px;
    
    width: 30%;
    height: 45%;
    text-align: center;
    

    border: solid none;
    border-radius: 1em;

    transition: all 0.5s;
}

.produto-lista:hover {

}

.produto-lista li {
    height: 30%;
    margin: auto;
}

.produto-lista li img {
    position: relative;
    top: 0.5em;
    width: 10em;
}

.produto-lista li strong {
    font-weight: bold;
    position: relative;

    top: 7em
}

.centraliza-imagem {
    text-align: center;
}

/*CSS Feedback*/

.feedback-geral {
    background: linear-gradient(90deg,#965121 0,  #cb7a31 30%, #e6973b 100%);
    height: 35em;
}

.caixa-profile {
    text-align: center;
    margin: 0 auto;
}

.profile {
    
    background: #fefefe;
    width: 20em;
    height: 25em;

    text-align: center;
    display: inline-block;

    border-radius: 1.5em;
    position: relative;

    margin: 0 1%;
    top: 4em;

    box-shadow: 0px 4px 6px 0.5px #161616;
    
}

.profile p {
    padding: 0.5 1em 0 1em;
    color: #445c3b;
    font-weight: bold;
}

.profile p:last-child {
    padding: 1em;
}

.profile img {
    border-radius: 100%;
    padding: 1em 1em 1em 1em;
    width: 13em;
}

.seletor-bolinhas {
    display: block;
    text-align: center;

    position: relative;

    top: 7em;

}

.bolinha {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;

    margin: 0 5px;

    position: relative;
    display: inline-block;
    
}

.bolinha:hover {
    background-color: #e6dcd4;
}

/*CSS da Página detalhando o produto*/

.produto-suco {
    background: linear-gradient(40deg, #e8ead9, #bea9b9, #e1b3ad);
    height: 40em;
}

.sucao {
    position: absolute;
    width: 45em;
    left: 20em;
}

.produto-lado-direito {
    background: #fefefe;
    width: 35%;
    height: 40em;

    position: relative;
    left: 65%;
    
}

.produto-lado-direito h2 {
    font-size: 2em;
    text-align: left;

    color: #445c3b;
    margin: 0 1em 1em 1em;
    padding: 0.5em 0;
}

.produto-texto {

    position: relative;
    text-align: center;

    margin: 0 auto;

    width: 80%;
}

.produto-lado-direito img {
    width: 18em;
    display: inline;

    position: relative;

    top: 1em;
}

.produto-lado-direito p {
    text-align: left;
    font-size: 1.3em;

    margin: 1em 0 1em 1em;
}

.produto-tamanho-caixa {
    width: 25em;
    height: 40em;
    text-align: center;
}

.produto-texto-direita {
    position: absolute;

    top: 100em;
    left: 2em;

    width: 20em;
    font-size: 1.3em;
    font-weight: bold;
    height: 10em;

    color: white;
}

.produto-texto-direita h3 {
    border: solid 2px white;
    border-radius: 1em;
    display: block;

    padding: 0.2em 0;
    font-weight: bold;
    font-size: 1.2em;
    color: white;

    position: relative;
    text-align: center;
    margin: 0.7em auto;
    
    width: 9em;
    cursor: pointer;
    transition: all 1s;
  
}

.produto-texto-direita h3:hover {
    transform: scale(1.3);
}














/*CSS do Rodapé*/

footer {
    height: 19em;
    background: #242423;

    color: white;
}

footer img {
    width: 10em;
}

footer h3 {
    font-weight: bold;

    font-size: 1.5em;
    padding: 0 0 0.7em 1em;
    margin: 4em 0 0 0;
}

.contato {
    width: 15em;
    float: left;
}

footer li {
    padding: 0 0 0.3em 1em;
    
}

.direitos {
    float: right;
    width: 15em;

    padding: 0 1em 0 0;
    margin: 7em 0 0 0;
}

.copy {
    position: relative;
    width: 50%;
    margin: 0 auto;
    
    padding: 7em 0 0 0;
    text-align: center;
}
